<!DOCTYPE html>
<html>

<head>
    <title>404 Error</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        <header>
            {{>header}}
        </header>
        <p>{{error}}</p>

    </div>

    <footer>
        {{>footer}}
    </footer>
</body>

</html>